<div class="w-full" [formGroup]="parentForm">
  @if(label){
  <label [for]="label" class="border-border text-[16px] text-black mb-3">
    {{ label }}
  </label>
  }

  <input
    [id]="label"
    [type]="type"
    [name]="name"
    [placeholder]="placeholder"
    class="h-[40px] w-full rounded-md !outline-none  border border-gray-300 px-2 ring-0"
    [formControlName]="inputName"
    [ngClass]="{
      'border-red-600 focus:border-red-600': 
        parentForm.controls[inputName].invalid &&
        (parentForm.controls[inputName].touched || parentForm.controls[inputName].dirty),
      'border-green-600 focus:border-green-600': 
        parentForm.controls[inputName].valid &&
        (parentForm.controls[inputName].touched || parentForm.controls[inputName].dirty)
    }"

    />
    <app-error       
    [control]="parentForm.controls[inputName]"
    [validation]="validation"
    [name]="name"
     />
</div>
