<div>
  <div class="flex items-center justify-between">
    <app-header-page title="{{ 'Users.Users' | translate}}"></app-header-page>
    <div class="grid grid-cols-4 items-center justify-end gap-4">

        <app-input-with-ng-model
          name="{{ 'KeyWords.Search' | translate}}"
          inputName="search"
          [(modelValue)]="searchModel.search"
          placeholder="{{'KeyWords.search_here' | translate}}"
          (modelValueChange)="searchWithText()"
          >
        </app-input-with-ng-model>
    
        <app-dropdown-with-ng-model
          name="{{ 'KeyWords.Country' | translate}}"
          inputName="Country"
          [(modelValue)]="searchModel.countryId"
          placeholder="{{ 'KeyWords.Select_Country' | translate}}"
          [options]="listOfCountries"
          (modelValueChange)="getAllData()">
        </app-dropdown-with-ng-model>
    
        <app-dropdown-with-ng-model
        name="{{ 'KeyWords.Nationality' | translate}}"
          inputName="Nationality"
          [(modelValue)]="searchModel.nationalityId"
          placeholder="{{ 'KeyWords.Select_Nationality' | translate}}"
          [options]="listOfNationalities"
          (modelValueChange)="getAllData()">
        </app-dropdown-with-ng-model>

        <button
        (click)="openAddModel()"
        class="h-[45px] flex-none rounded-md bg-primary px-4 py-2.5 text-base font-semibold text-primary-foreground">
        {{"Users.Add_Users" | translate}}
      </button>

    </div>
  </div>

  <div class="mt-4 grid grid-cols-1">
    <general-table
      [totalCount]="120"
      [tableHeader]="header"
      [tableData]="usersList"
      [enableToggle]="true"
      [enableAction]="true"
      [enableEdit]="true"
      [enableDelete]="true"
      (togglePopUp)="togglePopUp($event)"
      (deletePopUp)="deletePopUp($event)"
      (openEditModel)="openEditModel($event)"
      (openViewModel)="openViewModel($event)"
      ></general-table>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>



