<form [formGroup]="userForm" (ngSubmit)="submit()" class="h-full">


    <div class="grid lg:grid-cols-2  grid-cols-1 gap-4 ">
        <app-input [validation]="[BasicConstants.REQUIRED , BasicConstants.MINLENGTH]" label="{{'Forms.First_Name' | translate}}" name="{{'Forms.First_Name' | translate}}" 
            inputName="firstName" [parentForm]="userForm" placeholder="{{ 'Forms.First_Name_Placeholder' | translate}}"  />

            <app-input [validation]="[BasicConstants.REQUIRED , BasicConstants.MINLENGTH]" label="{{'Forms.Last_Name' | translate}}" name="{{'Forms.Last_Name' | translate}}"
            inputName="lastName" [parentForm]="userForm" placeholder="{{ 'Forms.Last_Name_Placeholder' | translate}}" />

        <app-input [validation]="[BasicConstants.REQUIRED , BasicConstants.MINLENGTH]" label="{{'Forms.User_Name' | translate}}" name="{{'Forms.User_Name' | translate}}"
            inputName="userName" [parentForm]="userForm" placeholder="{{ 'Forms.User_Name_Placeholder' | translate}}" />

            <app-input [validation]="[BasicConstants.REQUIRED , BasicConstants.MINLENGTH , BasicConstants.INVALID_EMAIL]" label="{{'Forms.Email' | translate}}" name="{{'Forms.Email' | translate}}"
            inputName="email" [parentForm]="userForm" placeholder="{{ 'Forms.Email_Placeholder' | translate}}" />

            <app-input [validation]="[BasicConstants.REQUIRED , BasicConstants.MINLENGTH ]" label="{{'Forms.Phone_Number' | translate}}" name="{{'Forms.Phone_Number' | translate}}"
            inputName="phoneNumber" [parentForm]="userForm" placeholder="{{ 'Forms.Phone_Number_Placeholder' | translate}}" />
            @if(!CurrentUser || !CurrentUser.id){
            <app-input [validation]="[BasicConstants.REQUIRED , BasicConstants.MINLENGTH]" label="{{'Forms.Password' | translate}}" name="{{'Forms.Password' | translate}}"
            inputName="password" [parentForm]="userForm" placeholder="{{ 'Forms.Password_Placeholder' | translate}}" />
            }
            <app-dropdown [options]="listOfCountries" [validation]="[BasicConstants.REQUIRED , BasicConstants.MINLENGTH]" label="{{'Forms.Country' | translate}}" name="{{'Forms.Country' | translate}}"
            inputName="country_Id" [parentForm]="userForm" placeholder="{{ 'Forms.Country_Placeholder' | translate}}" />

            <app-dropdown [options]="listOfNationalities" [validation]="[BasicConstants.REQUIRED , BasicConstants.MINLENGTH]" label="{{'Forms.Nationality' | translate}}" name="{{'Forms.Nationality' | translate}}"
            inputName="nationality_Id" [parentForm]="userForm" placeholder="{{ 'Forms.Nationality_Placeholder' | translate}}" />


    </div>





        @if (errors) {
            <div class="fixed bottom-20 flex justify-end mt-auto gap-4">
            <span class="bg-red-500 rounded-lg px-3 py-2 text-white w-full">{{errors}}</span>
        </div>
        }

       
    <div class="fixed bottom-4 flex justify-end mt-auto gap-4">
        <app-button type="submit" [disabled]="userForm.invalid" full impact="light" tone="primary" shape="rounded" size="medium">Save</app-button>
        <app-button type="button" (buttonClick)="closeSidebar()"  full impact="light" tone="light" shape="rounded" size="medium">Cancel</app-button>
    </div>


</form>