<div class="pt-4" *ngFor="let menu of menuService.pagesMenu">
  <div class="mx-1 mb-2 flex items-center justify-between">
    <small [ngClass]="{ hidden: !menuService.showSideBar }" class="text-xs font-semibold text-muted-foreground/50">
      {{ menu.group }}
    </small>
  </div>
  <ul class="flex flex-col space-y-1">
    <!-- List items -->
    <li *ngFor="let item of menu.items">
      <!-- Menu List -->
      <div (click)="toggleMenu(item)" class="group relative text-muted-foreground">
        <!-- Icon -->
        <div
          [ngClass]="pageIsActive(item.route) && !menuService.showSideBar ? 'text-black' : 'text-[#444343]'"
          [class.!text-white]="pageIsActive(item.route)"
          class="pointer-events-none absolute m-2 group-hover:text-white">
          <i [class]="item.icon + 'mx-3'"> </i>
        </div>

        <!-- Condition -->
        <ng-container
          [ngTemplateOutlet]="item.children ? childMenu : parentMenu"
          [ngTemplateOutletContext]="{ item: item }">
        </ng-container>

        <!-- Workaround:: Enable routerLink -->
        <ng-template #parentMenu let-item="item">
          <div
            routerLink="{{ item.route }}"
            [class.bg-primary]="pageIsActive(item.route)"
            class="flex h-9 cursor-pointer flex-row-reverse items-center justify-end rounded text-[#444343] hover:bg-primary">
            <a
              [class.!text-white]="pageIsActive(item.route)"
              routerLinkActive="text-primary"
              class="mx-10 text-[18px] font-bold text-[#444343] focus:outline-none group-hover:text-white">
              {{ item.label }}
            </a>
          </div>
        </ng-template>

        <!-- Workaround:: Disable routerLink -->
        <ng-template #childMenu let-item="item">
          <div class="flex h-9 cursor-pointer items-center justify-start rounded hover:bg-primary">
            <a class="mx-10 p-2 text-[20px] font-bold text-[#444343] focus:outline-none">
              {{ item.label }}
            </a>
          </div>
        </ng-template>

        <!-- Arrow Icon -->
        <button
          *ngIf="item.children"
          class="pointer-events-none absolute top-1 flex items-center p-1 text-[#444343] transition-all group-hover:text-white"
          [ngClass]="{
            'right-0': lang === 'en',
            'left-0': lang === 'ar',
            hidden: !menuService.showSideBar,
            'rotate-90': item.expanded
          }">
          <svg-icon src="assets/icons/heroicons/solid/chevron-right.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
        </button>

        <!-- Tooltip -->
        <div class="fixed w-full" *ngIf="!menuService.showSideBar">
          <span
            class="z-1 absolute  -top-[34px] w-auto min-w-max origin-left scale-0 rounded-md bg-foreground p-2 text-xs font-bold text-background shadow-md transition-all duration-200 group-hover:scale-100"
            [class.left-14]="lang==='en'" [class.right-14]="lang==='ar'">
            {{ item.label }}
          </span>
        </div>
      </div>

      <!-- Submenu items -->
      <app-sidebar-submenu [submenu]="item"></app-sidebar-submenu>
    </li>
  </ul>

  <div class="pt-3" *ngIf="menu.separator">
    <hr class="border-dashed border-border" />
  </div>
</div>
