<div class="flex h-screen w-screen overflow-hidden ">
  <div class="auth-bg hidden flex-1 items-center justify-center bg-primary bg-cover lg:flex">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <img src="./assets/images/auth-screens.png" alt="dashboard widget" />
      <h1 class="text-4xl font-bold">"HR Task - Test Description"</h1>
      <p class="text-xs font-light">
        This is a test task description for the HR team. The goal is to review and ensure that all employees are familiar with
        company policies, especially those related to work efficiency and productivity. Please 
        <span class="cursor-pointer font-medium text-yellow-400">review</span> the guidelines and confirm adherence by the end of the
        week. Any questions or clarifications can be discussed with HR during the weekly 
        <span class="cursor-pointer font-medium text-yellow-400">check-in meeting</span>. Let's ensure that everyone is aligned with our
        standards for a smooth and productive workplace.
      </p>
      
    </div>
  </div>
  <div class="flex flex-1 items-center justify-center bg-background">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- logo -->
      <div class="flex items-center justify-center">
        <a class="rounded bg-primary p-2">
          <svg-icon src="assets/icons/logo.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
        </a>
        <b class="text-md pl-3 font-bold text-foreground">HR Task </b>
      </div>
      <!-- Route -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
